Project-VisionPulse/Group-1a5b_Baseline\ results/obstacle\ detection/obstacle_detection_CNN-model/variables/variables.data-00000-of-00001
"/home/akash/Desktop/LLM/Project-VisionPulse/Group-1a5b_Baseline results/obstacle detection.zip"
"/home/akash/Desktop/LLM/Project-VisionPulse/Group-1a5b_Baseline results/obstacle detection/"
